body {
    background-color: #000022;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 50px;
    color: white;
}

.cta {
    color: #2233dd;
    font-size: 16px;
}

h2 {
    font-size: 44px;
    color: white;
    font-weight: 300;
}

.feature1 {
    color: grey;
    font-size: 21px;
}

.footer {
    text-align: right;
    color: white;
}