/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/rick-morty.png");
    background-color: #d3fe2b;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
