<!-- <div class="container"> -->
  <!-- <div class="col-6"> -->
    <div class="d-md-flex p-1 flex-wrap justify-content-around align-content-between ">
      <div *ngFor='let character of characters' class="card bg-dark text-white">
        <img class="card-img-top" [src]='character.image' alt="{{character.name}}">
        <div class="card-body">
          <h5 class="card-title">{{character.name}}</h5>
          <p class="card-text">
            Status: {{character.status}}<br />
            Species: {{character.species}}<br />
            Type: {{character.type}}<br />
            Gender: {{character.gender}}<br />
            Origin: {{character.origin.name}}
          </p>
          <a [href]='character.url' class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  <!-- </div> -->
<!-- </div> -->